body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightcoral;
    text-align: center;
    font-size: 30px;
}

nav a{

    text-decoration: none;
    margin: 0 50px;
    color:chartreuse;
    font-size: 20px;
}

.content{
    margin-top: 20px;
}